{% extends "base.html" %}


{% block maincontent %}
<div class="row mt-5 mb-2">
	
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">No</th>
	      <th scope="col">Cashier</th>
		  <th scope="col">Product</th>
		  <th scope="col">Category</th>
	      <th scope="col">Price</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
			{% for p in product  %}
				<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{p.cashier.name}}</td>
				<td>{{p.name}}</td>
				<td>{{p.category.name}}</td>
				<td>{{p.price}}</td>
				<td>
					<a href="#"  data_id={{p.id}} class="btn btn-warning editButton">Ubah</a>
					<a href="{% url "hapus" p.id %}"  class="btn btn-danger ml-1" >Hapus</a>
				</td>
				</tr>
			{% endfor %}
	  </tbody>
	</table>
	</div>

	<!-- Modal ADD -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">ADD</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post">
					{% csrf_token %}
					{{forms.as_p}}	
					<button type="submit" class="m-0 ml-auto btn btn-primary">Save changes</button>
				</form>
			</div>
			</div>
		</div>
		</div>
	
	<!-- Modal Change -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">EDIT</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="editForm" method="post">
						{% csrf_token %}
						<div id="dataChange">
							'ksj'
						</div>
						<button type="submit" class="m-0 ml-auto btn btn-primary">Save changes</button>
					</form>
				</div>
				</div>
			</div>
			</div>
	
{% endblock maincontent %}

{% block costum_js %}
	<script type="text/javascript">
		$(document).ready(function(e){
			$('.editButton').on('click',function(e){
				e.preventDefault()
				let id=$(this).attr('data_id')
				console.log(id)
				$.ajax({
					url : "product/"+id+'/',
					type : "GET",
					success : function(data) {
						$('#dataChange').html(data)
						$('#editForm').attr('action', '/ubah/'+id+'/')
						$('#editModal').modal('show')
					},   
					error : function(err) {
						console.log(err)
					}
				})
			})
		});
	</script>
{% endblock costum_js %}